<div id="sound-{{sound.id}}" class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title text-center">
      {{ sound.title }}&nbsp;-&nbsp;<strong>@{{ sound.user.username }}</strong>
    </h2>
  </div>
  <div class="panel-body">
    <h4>{{ sound.post }}</h4>
  </div>
  <div class="panel-footer">
    <span class="fa-stack fa-lg pull-left ">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-play fa-stack-1x fa-inverse stacked-icon-gray"></i>
    </span>

    <paper-slider id="sound-slider-{{sound.id}}" sound-id="" editable="false" min="0" max="1500"></paper-slider>
  </div>
</div>
