<div class="row text-center">
  <div class="col-md-3" shows-message-when-hovered message="fa-superscript "><i class="fa fa-superscript fa-5x"></i></div>
  <div class="col-md-3" shows-message-when-hovered message="fa-refresh fa-spin"><i class="fa fa-refresh fa-5x fa-spin"></i></div>
  <div class="col-md-3" shows-message-when-hovered message="fa-thumbs-up"><i class="fa fa-thumbs-up fa-5x"></i></div>
  <div class="col-md-3" shows-message-when-hovered message="fa-terminal "><i class="fa fa-terminal fa-5x"></i></div>
</div>