<div class="row">
  <div class="col-sm-12">
    <div class="well well-lg">
      <h1 class="text-center hidden-xs">
        <span class="font-title">Oscillate</span>
        <span class="fa-stack fa-lg">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-music fa-stack-1x fa-inverse stacked-icon-gray"></i>
        </span>
        <small>The Audio Discovery Engine</small>
      </h1>
      <h2 class="text-center visible-xs">
        <div class="font-title">
          <span class="fa-stack fa-lg">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-music fa-stack-1x fa-inverse stacked-icon-gray"></i>
          </span>
          Oscillate
        </div>
        <small>The Audio Discovery Engine</small>
      </h2>
    </div>
  </div>
</div>

<div class="row">
  <h2 class="text-center">
    <span class="fa-stack fa-lg hidden-xs">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-play fa-stack-1x fa-inverse stacked-icon-gray"></i>
    </span>
    How Do <em>You</em> Resonate?
    <span class="fa-stack fa-lg hidden-xs">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-fast-forward fa-stack-1x fa-inverse stacked-icon-gray"></i>
    </span>
  </h2>
</div>

<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title text-center">
          It's like <strong>Vine</strong> for <strong>Music Producers</strong>
        </h2>
      </div>
      <div class="panel-body">
        <i class="fa fa-play fa-3x pull-left fa-border"></i>

        <p>
          Play MIDI loops that switch out instruments seemlessly as you scroll through a newsfeed of the top musicians
          in the country -- and your best friends.
        </p>
        <ul>
          <li>Follow whoever you want. Listen to snippets of sound from the top producers.</li>
          <li>Or claim that sound -- you know, <strong>that unique sound</strong> that <em>defines</em> your band.</li>
        </ul>

        <a href="#" class="btn btn-primary" role="button">Learn More</a>
      </div>
    </div>
  </div>


  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title text-center">A User Interface <strong>Crafted for Discovery.</strong></h2>
      </div>
      <div class="panel-body">
        <p>
          <i class="fa fa-forward fa-3x pull-left fa-border"></i>
          Discovering new sounds becomes a visceral experience, where the journey is the destination. No longer do
          you have to trek into deepnet forums to discover new sounds.
        </p>

        <ul>
          <li>Instead, connect with a community of audio aficionados to learn new techniques.</li>
          <li>Connect with others who use the same software and hardware.</li>
        </ul>

        <a href="#" class="btn btn-primary" role="button">Learn More</a>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title text-center">Show Off Your <strong>Audio Craftsmanship</strong> &amp; Cultivate a
          Following.</h2>
      </div>
      <div class="panel-body">
        <p>
          <i class="fa fa-fast-forward fa-3x pull-left fa-border"></i>
          How do you get Native Instruments' Massive synth to wobble like that? How do you get your high-hats so crisp
          and your base so boom?
        </p>

        <ul>
          <li>Teach others your skills, if you want -- or keep the secrets to yourself.</li>
          <li>Attach instrument config files, along with a 15 second snippet of sound.</li>
          <li>Cultivate a following in the Music Production community and get Discovered.</li>
        </ul>

        <a href="#" class="btn btn-primary" role="button">Learn More</a>
      </div>
    </div>
  </div>
</div>
